body{
  background-image: url("city.jpg");
}
.login {
  width: 400px;
  max-width: 80%;
  max-height: 80%;
  position: relative;
  background: #888;
  opacity: 90%;
  padding: 20px;
  margin: auto;
  margin-top: 60px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
}

.login h4 {
  font-size: 22px;
  margin-bottom: 18px;
  text-align: center;
  color: white;
}

.login a {
  color: white;
  text-decoration: none;
}

.login a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.formatcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelbutton{
  background-color: none;
  border-color: darkgrey;
}
.warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  color: white;
  padding-top: 20px;
}