body{
  background-image: url("city.jpg");
}
.registro {
  width: 700px;
  max-width: 90%;
  background: #888;
  opacity: 90%;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
}

.registro h4 {
  font-size: 22px;
  margin-bottom: 18px;
  text-align: center;
  color: white;
}

.registro a {
  color: white;
  text-decoration: none;
}

.registro a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.col-12{
  text-align: center;
}